@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background: #1e1a20;
  scroll-behavior: smooth;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

h1,
h2 {
  font-family: 'Audiowide', sans-serif;
  font-size: 6vmin;
  width: fit-content;
  flex-direction: column;
  color: #ffeded; /* Fallback color */
  padding-bottom: 1rem;
  cursor: pointer;
  color: transparent;
  -webkit-text-fill-color: transparent; /* Ensure the gradient shows in text */
  transition: background-position 0.6s ease-in-out; /* Smooth transition */
}

.home p,
.about-me p,
.contact-me p {
  color: #d8d8d8;
  font-size: 1.3rem;
  line-height: 2.1rem;
  padding-bottom: 1rem;
  font-family: 'Playwrite DE Grund', sans-serif;
}

/*================ HERO ===============*/
.home {
  width: 60%;
  padding: 2rem 1rem;
  margin-top: 3.5rem;
}

.home img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 0 4px 15px rgba(75, 75, 75, 0.3);
  transition: all 0.27s ease;
}

.home img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(88, 82, 77, 0.5);
}

.home .header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.home .header p {
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.8rem;
}

.home .header p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.home .header p:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

.home .content h1 {
  background: linear-gradient(
    90deg,
    #5b86e5,
    #36d1dc,
    #8e44ad,
    #9b59b6,
    #8e44ad,
    #5b86e5
  );
  background-size: 200%; /* To ensure the animation effect */
  background-clip: text;
  -webkit-background-clip: text;
}

.home h1:hover {
  background-position: 100% 0;
}

.home .content p span {
  color: #36d1dc;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.home .content p span:hover {
  color: #5d83c9;
}

/*___ CTA ___*/
.cta {
  font-family: 'Playwrite DE Grund', sans-serif;
  cursor: pointer;
  padding: 0.7rem 1.1rem;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 1% 13%;
  background: transparent;
  border: 2px solid #5b86e5;
  color: #5b86e5;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  margin-top: 3.5rem;
  display: inline-block; /* Ensure it behaves like a button */
  text-decoration: none;
}

.cta::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #5b86e5, #8e44ad);
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.cta:hover::before {
  transform: translateX(0);
}

.cta:hover {
  color: #ffffff;
  border-color: #5b86e5;
}

.cta span {
  position: relative;
  z-index: 2;
}

/*=============== About Me ===============*/
.about-me {
  width: 50%;
  padding: 1rem;
  margin-top: 9rem;
}

.about-me h2 {
  background: linear-gradient(90deg, #43cea2, #185a9d, #f5af19, #f12711);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
}

.about-me h2:hover {
  background-position: 100% 0;
}

/*================ Contact Me ==============*/
.contact-me {
  width: 50%;
  padding: 1rem;
  margin-top: 9rem;
}

.contact-me p {
  line-height: 1.2rem;
}

.contact-me h2 {
  background: linear-gradient(90deg, #ff6a00, #ee0979, #ff56ff, #00ffff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: default;
  margin-bottom: 1rem;
}

.contact-me h2:hover {
  background-position: 100% 0;
}

.contact-links {
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
}

.contact-link img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.contact-link img:hover {
  transform: scale(1.2);
}

#contact .cta {
  font-size: 1rem;
  padding: 0.55rem 1.2rem;
  color: #f5af19;
  border-color: #f5af19;
}

#contact .cta::before {
  background: linear-gradient(90deg, #f5af19, #f12711);
}

#contact .cta:hover {
  color: black;
}

/*============ Music-Button ============*/
/* @keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
} */

.play-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  /* animation: bounce 1.4s infinite; */
}

.play-button img {
  width: 28px;
  height: 28px;
}

/*================= Responsive - 1200px =============*/
@media (max-width: 1200px) {
  .home,
  .about-me,
  .contact-me {
    width: 70%;
  }

  .home img {
    width: 80px;
    height: 80px;
  }

  h1,
  h2 {
    font-size: 5vmin;
  }
}

/*================= Responsive - 768px =============*/
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .home,
  .about-me,
  .contact-me {
    width: 80%;
    margin-bottom: 3rem;
  }

  .about-me {
    margin-bottom: 12rem;
  }

  .home img {
    width: 70px;
    height: 70px;
  }

  h1,
  h2 {
    font-size: 5vmin;
    margin-bottom: 1rem;
  }

  .home .header {
    flex-direction: column;
  }

  .home .header p {
    margin-top: 0.5rem;
  }

  .home .content {
    text-align: left;
  }

  .cta {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    display: inline-block; /* Ensure it behaves like a button */
  }

  .play-button {
    bottom: 10px;
    left: 10px;
  }
}

/*================= Responsive - 480px =============*/
@media (max-width: 480px) {
  .home,
  .about-me,
  .contact-me {
    width: 100%;
  }

  .home img {
    width: 60px;
    height: 60px;
  }

  .about-me {
    margin-bottom: 4rem;
  }

  h1,
  h2 {
    font-size: 3.5vmin;
  }

  .cta {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
